{% extends "base.html" %}

{% block body %}
<div class="main-page">
    <header class="header">
        <div class="container header__body">
            <a href="/" class="header__logo">
                <img src="{{ url_for('static', path='/logo.svg') }}" alt="Логотип">
            </a>
            <ul class="header__menu">
                <li class="header__menu-item">
                    <a href="/">Список проектов</a>
                </li>
                <li class="header__menu-item">
                    <a class="active-link" href="/prof">Профессии</a>
                </li>
                <li class="header__menu-item link-logout">
                    <a href="/">Выйти</a>
                </li>
            </ul>
        </div>
    </header>
</div>
{% endblock %}